.card {
  &__first {
    &-actual {
      max-width: 280px;
      width: 100%;
      margin-bottom: 50px;

      @include onTablet {
        max-width: 330px;
        width: 100%;
        margin-bottom: 160px;
      }

      @include onDesktop {
        max-width: 570px;
        width: 100%;
        margin-bottom: 200px;
      }
    }

    &-news {
      margin-bottom: 50px;

      @include onTablet {
        margin-bottom: 160px;
      }

      @include onDesktop {
        margin-bottom: 200px;
      }
    }
  }

  &__second {
    &-actual {
      max-width: 280px;
      width: 100%;

      @include onTablet {
        max-width: 330px;
        width: 100%;
      }

      @include onDesktop {
        max-width: 570px;
        width: 100%;
      }
    }

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }

    &-news {

      @include onTablet {
        margin-bottom: 160px;
      }

      @include onDesktop {
        margin-bottom: 200px;
      }
    }
  }
}
